.container {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        background-color:aliceblue;
        padding:10px;
        border-radius:20px;
        margin-bottom: 20px;
}

.active{
        -webkit-text-stroke: 1px black;
        color: aqua;
        text-underline-offset: 5px;
        text-decoration-color: gray;
}

.disable{
        text-decoration:  none;
        color: inherit;
}