.container {
    color: rgb(124, 191, 236);
    
}
    
.contDetail {
    color: rgb(250, 71, 0);
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(77, 3, 173, 0.534);
    border-radius: 20px;
}